body {
  background: #E3E3E3;
}

header {
  width: 100%;
  height:400px;
  background: #6DFFFA;
  top: 80px;
  position: relative;
}

@media (max-width: 600px) {
  header {
    display: none;
  }
}

.text-center {
  text-align: center !important;
}

.main_header{
  color: white;
}

h1 {
  text-indent: -9999px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 16px;
}

a {
  color: #FFF;
  text-decoration: none;
}

th {
  font-weight: bold;
}

#menubar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 17px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #0288D1;
  position: fixed;
  z-index: 2;
  height: 57px;
}

#show_menu {
  display: none;
}

#headerGalleri {
  background: url(bilder/galleri-isbjorn.jpg);
}

#headerTur {
  background: url(bilder/turHeader.jpg);
}

#bestillingHeader {
  background: url(bilder/bestillingHeader.jpg);
}

#activeButton {
  background: #0277BD;
}

nav {
  margin-left: 100px;
  width: 500px;
}

nav ul li {
  display: inline-block;
  color: #fff;
  margin-top: 20px;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 24px;
  padding: 20px 5px 5px 5px;
  margin-left: 2px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #039BE5;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul li a:hover {
  padding: 20px 5px 15px 5px;
}

@media (max-width: 600px) {
  nav #show_menu {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    padding: 20px 5px 5px 5px;
    margin-left: 0px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #039BE5;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px;
  }

  nav ul {
    display: none;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    display: list-item;
    margin-top: 0px;
  }

  nav ul li a {
    display: block;
    padding: 5px 5px 5px 5px;
    width: 140px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0px;
  }

  #manu_container {
    width: 150px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
  }

  nav ul li a:hover {
    padding: 5px 5px 5px 5px;
  }
}

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 7px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #0288D1;
  height: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  footer {
    height: auto;
  }
}

/*Wrappers and containers*/

main {
  top: 130px;
  position: relative;
}

.wrapper:after {
  display: table;
  content: "";
  clear: both;
}

.galleriContainer {
  width: 1030px;
  margin: auto;
}

@media (max-width: 1050px) {
  .galleriContainer {
    width: 690px;
  }
}

@media (max-width: 710px) {
  .galleriContainer {
    width: 330px;
  }
}

.turContainer {
  width: 1030px;
  margin: auto;
}

@media (max-width: 1130px) {
  .turContainer {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .turContainer {
    width: 95vw;
  }
}

.articleContainer {
  background: #FFFFFF;
  width: 1030px;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  float: left;
}

@media (max-width: 1130px) {
  .articleContainer {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .articleContainer {
    width: 90vw;
    padding: 5px;
  }
}

.bestillingContainer {
  background: #FFFFFF;
  width: 468px;
  padding: 45px 45px 45px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

@media (max-width: 600px) {
  .bestillingContainer {
    width: 80vw;
  }
}

/*Bestilling*/

#beskjed {
  border-width: 2px;
  width: 270px;
  height: 200px;
}

@media (max-width: 600px) {
  #beskjed {
    width: 70vw;
  }
}

/*Tur info*/

#sSnoscooterImg {
  margin-right: 15px;
  width: 227px;
  height: 170px;
  background: url(bilder/ssnoscooter.jpg);
  float: left;
}

#hunde-sledeImg {
  margin-right: 15px;
  width: 227px;
  height: 150px;
  background: url(bilder/thumbnails/hunde-slede.jpg);
  float: left;
}

#dyrelivImg {
  margin-right: 15px;
  width: 227px;
  height: 151px;
  background: url(bilder/thumbnails/snorev.jpg);
  float: left;
}

#nordlysraveImg {
  margin-right: 15px;
  width: 227px;
  height: 127px;
  background: url(bilder/thumbnails/nordland-nordlys3mini.jpg);
  float: left;
}

@media (max-width: 600px) {
  #sSnoscooterImg,
  #hunde-sledeImg,
  #dyrelivImg,
  #nordlysraveImg {
    float: none;
  }
}

/*Galleri*/

#galleri figcaption {
  text-align: center;
  font-family: Georgia, serif;
  color: #333;
  padding-top: 10px;
}

#galleri figure {
  width: 320px;
  height: 210px;
  text-align: center;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  background:rgba(255, 255, 255, 0.6);
  margin: 10px;
  border-radius: 7px;
  float: left;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/************************************************************INDEX-CSS***********************************************************/
/*------------------------------------------------------------------------------------------------------------------------------*/



/*----------------------*/
/******turcontainer*****/
/*----------------------*/
.turcontainer{
  width: 1024px;
  margin: 0 auto;
}

/*----------------------*/
/******turcontainer1*****/
/*----------------------*/


.turcontainer1{
  background-image: url(bilder/hoved1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin: auto;
  display: block;
}

.turcontainer1 h1 {
  padding-top: 150px;
  text-align: center;
  font-size: 48px
}

.turtekst1{
  padding-top: 120px;
  font-family: "proxima-nova black", sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
  text-align: center;
  position: relative;
  bottom: 43px;
}

/*--------------------------*/
/*******mapcontainer********/
/*-------------------------*/

.mapcontainer{
  width: 100%;
}

/*----------------------*/
/*******inspirert********/
/*----------------------*/

.inspirert{
  background-color: #e2e2e2;
}

.inspirert-innhold {
  padding: 35px 0 35px 0;
}

.bli-inspirert{
  padding-top: 17px;
  font-family: "proxima-nova black", sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
  text-align: center;
  position: relative;
}

.drom{
  font-family: "proxima-nova black", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.linktekst{
  font-size: 20px;
  font-family: "proxima-nova black", sans-serif;
  text-align: center;
  padding-bottom: 40px;
}

/*----------------------*/
/******turcontainer2*****/
/*----------------------*/

.turcontainer2{
  width: 100%;
}

.turcontainer2{
  background-image: url(bilder/dog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 853px;
}

.turcontainer2tekst{
  color: lightgray;
  font-family: "proxima-nova black", sans-serif;
  font-style: normal;
  font-size: 65px;
  font-weight: 900;
  text-align: center;
  margin: auto;
  position: relative;
  top: 40px;
}

.button{
  font-family: "proxima-nova black", sans-serif;
  font-size: 28px;
  text-align: center;
  border: 5px solid #352d2d;
  padding: 25px 65px;
  background: rgba(83, 80, 76, 0.5);
  display: inline;
  color: black;
  position: relative;
  top: 43px;
}

a.button:hover {
  background-color: #b7b7b7;
  opacity:0.8;

}


/*----------------------*/
/******turcontainer3*****/
/*----------------------*/


.turcontainer3{
  width: 100%;
}

.turcontainer3{
  background-image: url(bilder/sled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 722px;
  margin: auto;
  padding-bottom: 50px;
  position: relative;
  display: block;
  object-fit: contain;
}

.turcontainer3tekst{
  padding-top: 100px;
  font-family: "proxima-nova black", sans-serif;
  font-style: normal;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin: auto;
}



.button {
  font-family: "proxima-nova black", sans-serif;
  font-size: 28px;
  text-align: center;
  border: 5px solid #352d2d;
  padding: 25px 65px;
  background: rgba(83, 80, 76, 0.5);
  display: block;
  color: black;
  margin: 0 auto;
  width: 200px;
}

.button:hover {
  background-color: #b7b7b7;
  opacity:0.8;
}

/*----------------------*/
/******turcontainer4*****/
/*----------------------*/

.turcontainer4{
  clear: both;
  background-image: url(bilder/reise.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  margin: auto;
  padding-bottom: 50px;
  position: relative;
  display: block;
  object-fit: contain;
}

.turcontainer4tekst{
  padding-top: 95px;
  font-family: "proxima-nova black", sans-serif;
  font-style: normal;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin: auto;
}

.button3{
  font-family: "proxima-nova black", sans-serif;
  font-size: 28px;
  text-align: center;
  border: 5px solid #352d2d;
  padding: 25px 65px;
  background: rgba(83, 80, 76, 0.5);
  display: inline;
  position: relative;
  top: 70px;
  left: 345px;
  float: left;
  color: black;
}

a.button3:hover {
  background-color: #b7b7b7;
  opacity:0.8;
}

/*-------------------------------*/
/******index-mobil-responsive*****/
/*-------------------------------*/

@media screen and (max-width: 1024px) {
  .turcontainer {
    width: 100% !important;
  }

  .turcontainer1 {
    width: 100%;
    height: 400px
  }

  .turcontainer4tekst,
  .turcontainer3tekst,
  .turcontainer2tekst,
  .bli-inspirert {
    font-size: 42px;
  }

  .button {
    margin: auto;
    font-size: 24px;
    width: 100px;
  }
}