.header {
	width: 100%;
	height:100px;
	background: #000;
	margin:0;
		}
h1{
	font-family: Georgia, serif;
	color: #F9F5EC;
	text-align:center;
	padding-top: 30px;
	font-size: 50px;
}

nav {
	width: 100%;
	height:55px;
	background: rgba(0,0,0,0.7);
	margin:auto;
}
nav ul li {
	display:inline-block;
	color: #fff;
	font-family: Georgia, serif;
	padding-top: 20px;
	width: 200PX;
	text-align: center;
	margin-left: 85px;

}

nav ul li a {

	color: #F9F5EC;
	text-decoration: none;
}

nav ul li a:hover{
	color: #BEBEBE;
}


.personal{
	width: 300px;
	display: block;
	top: 300px;
	float:left;
	position: relative;


}
.main {
	background: rgba(83,80,76,0.3);
	width: 1040px;
	height: 800px;
	display: block;
	top: 10px;
	margin:auto;
	position: relative;


}


table, tr, td{
	padding-top: 50px;
	margin: auto;
	padding-left: 10px;
}


body {
background-color: white;
}



/*----------------------*/
/******turcontainer*****/
/*----------------------*/

.turcontainer{
  /*width: 1024px;*/
  margin: 0 auto;
}

/*----------------------*/
/******turcontainer1*****/
/*----------------------*/


.turcontainer1{
  background-image: url(bilder/hoved.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 652px;
  min-width: 480px;
  margin: auto;
  position: relative;
  bottom: 5px;
  padding-bottom: 50px;
  position: relative;
  display: block;
  object-fit: contain;
}

.turtekst1{
  padding-top: 120px;
  font-family: proxima-nova black, sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
  text-align: center;
  position: relative;
  bottom: 43px;
}

/*--------------------------*/
/*******mapcontainer********/
/*-------------------------*/


.mapcontainer{
  background-image: url(bilder/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 480px;
  height: 722px;
  margin: auto;
  bottom: 5px;
  padding-bottom: 50px;
  position: relative;
  display: block;
  object-fit: contain;
}
  
/*----------------------*/
/*******inspirert********/
/*----------------------*/


.inspirert{
  background-color: #e2e2e2;
  height: 130px;
  position: relative;
  bottom: 5px;
  padding-bottom: 50px;
  padding-top: 60px;
}


.bli-inspirert{
  padding-top: 17px;
  font-family: proxima-nova black, sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
  text-align: center;
  position: relative;
  bottom: 43px;
}

.drom{
  font-family: proxima-nova black, sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  position: relative;
  bottom: 42px;
}

.linktekst{
  font-size: 20px;
  font-family: proxima-nova, sans-serif;
  text-align: center;
  position: relative;
  bottom: 30px;
}


.bokstekst1{
  top: 30px;
  width: 564px;
  color: #e7e7e7;
  font-family: proxima-nova black, sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.container3{
  height: 640px;
  width: 640px;
  margin: auto;
  left: 448px;
  bottom: 661px;
}

.container4{
  height: 640px;
  width: 640px;
}

.container{
  width: 1024px;
  margin: 0 auto;
}


.brace{
  font-family: proxima-nova black, sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
  position: relative;
  top: 40px;
}

/*----------------------*/
/******turcontainer2*****/
/*----------------------*/

.turcontainer2{
  height: 768px;
  width: 1024px;
  bottom: 360px;
  position: relative;
  display: block;
  float: left;
}

.turcontainer2{
  background-image: url(bilder/dog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 480px;
  height: 722px;
  margin: auto;
  bottom: 5px;
  padding-bottom: 50px;
  position: relative;
  display: block;
  object-fit: contain;
}

.turcontainer2tekst{
  background: linear-gradient(to top, rgba(198, 198, 198, 1) 20%, rgba(255,255,255, 0) 80%);   
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 900px;
  padding-top: 90px;
  font-family: proxima-nova black, sans-serif;
  font-style: normal;
  font-size: 65px;
  font-weight: 900;
  text-align: center;
  position: relative;
  float: left;
}

.button{
   font-family: proxima-nova black, sans-serif;
  font-size: 28px;
  text-align: center;
  border: 5px solid #352d2d;
  padding: 25px 65px; 
  background: rgba(83, 80, 76, 0.5);
  display: inline;
  position: relative;
  top: 330px;
  right: 614px;
  float: left;
  color: black;
}

a.button:hover {
  background-color: #b7b7b7;
  opacity:0.8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: all 0.4s ease-i
}


/*----------------------*/
/******turcontainer3*****/
/*----------------------*/


.turcontainer3{
  height: 768px;
  width: 826px;
  bottom: 360px;
  position: relative;
  display: block;
  float: right;
}

.turcontainer3{
  background-image: url(bilder/sled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 480px;
  height: 722px;
  margin: auto;
  position: relative;
  bottom: 5px;
  padding-bottom: 50px;
  position: relative;
  display: block;
  object-fit: contain;
}

.turcontainer3tekst{
  background: linear-gradient(to top, rgba(53, 45, 45, 1) 20%, rgba(255,255,255, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 900px;
  padding-top: 100px;
  font-family: proxima-nova black, sans-serif;
  font-style: normal;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  position: relative;
  float: right;
}



.button2 {
  font-family: proxima-nova black, sans-serif;
  font-size: 28px;
  text-align: center;
  border: 5px solid #352d2d;
  padding: 25px 65px;  
  background: rgba(83, 80, 76, 0.5);
  display: inline;
  position: relative;
  top: 360px;
  left: 620px;
  float: right;
  color: black;
}

a.button2:hover {
  background-color: #b7b7b7;
  opacity:0.8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: all 0.4s ease-i
}

/*----------------------*/
/******turcontainer4*****/
/*----------------------*/

.turcontainer4{
  clear: both;
  background-image: url(bilder/reise.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 480px;
  height: 722px;
  margin: auto;
  bottom: 5px;
  padding-bottom: 50px;
  position: relative;
  display: block;
  object-fit: contain;
}

.turcontainer4tekst{
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 815px;
  padding-top: 95px;
  font-family: proxima-nova black, sans-serif;
  font-style: normal;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  position: relative;
  float: left;
}

.button3{
  font-family: proxima-nova black, sans-serif;
  font-size: 28px;
  text-align: center;
  border: 5px solid #352d2d;
  padding: 25px 65px;  
  background: rgba(83, 80, 76, 0.5);
  display: inline;
  position: relative;
  top: 325px;
  right: 578px;
  float: left;
  color: black;
}

a.button3:hover {
  background-color: #b7b7b7;
  opacity:0.8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: all 0.4s ease-i
}
