body {
  background: #E3E3E3;
}

header {
  width: 100%;
  height:400px;
  background: #6DFFFA;
  margin:0;
  }

h1 {
  text-indent: -9999px;
}

#menubar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 6.5px;
  display: block;
}

#buttonHjem {
  background: #FF1919;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttonGalleri {
  background: #BC00A1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttonTur {
  background: #6EF1FA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttonBestilling {
  background: #63FF89;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hjem {
  background: #B60000;
}

.galleri {
  background: #7F006C;
}

.tur {
  background: #00ADB8;
}

.bestilling {
  background: #00CB31;
}

nav {
  margin-left: 10%;
  width: 500px;
}

nav ul li {
  display: inline-block;
  color: #fff;
  margin-top: 20px;
}

nav ul li a {
  font-size: 24px;
  padding: 20px 5px 5px 5px;
  margin-left: 2px;
}

nav ul li a:hover {
  padding: 20px 5px 15px 5px;
}

main {
  width: 80%;
  display: block;
  top: 10px;
  margin: auto;
  position: relative;
}

a {
  color: #FFF;
  text-decoration: none;
}

.miniCont {
  width: 600px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}